
@import "tailwindcss";


@theme{

    --breakpoint-sm: 560px;
    --breakpoint-md:640px;
    --breakpoint-lg: 976px;
    --breakpoint-xl:1440px;

}

@utility my-responsive-grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#hamburg{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    transition:all 0.5s;

}

.top,
.middle,
.bottom{
    background-color: black;
    height: 2px;
    width: 24px;
    position: absolute;
    left: 0;
    top: 0;
    transition:all 0.25s;
}

.middle{
    transform: translateY(7px);
}
.bottom{
    transform: translateY(14px);
}

.toX{
    transform: rotate(720deg) translateY(0px);

}
.toX .top{
    transform: rotate(45deg) translate(6px, 6px);
}
.toX .middle{
    transform: scale(0);
}
.toX .bottom{
    transform: rotate(-45deg) translate(-6px, 6px);

}

#menu{
    background-color: #c1c1c5 ;
}
#hamburg.toX span{
    background-color: rgb(148, 64, 64);
}